html {
  background-color: var(--bg);
}

nav {
  display: flex;
  top: 0;
  position: sticky;
  font-size: 1.5rem;
  height: 12vh;
  width: 100%;
  transition: 0.3s all ease-in-out;
  background-color: var(--nav);
  z-index: 5;
}
nav a {
  color: var(--navfont);
  text-decoration: none;
}
nav a:hover {
  color: var(--navfonthover);
}
nav .logo {
  margin: 1.5rem;
}
nav .darkMode, nav .menu {
  aspect-ratio: 1/1;
  height: 2.7rem;
  border-radius: 1em;
  position: absolute;
  margin-top: 0.7rem;
  overflow: hidden;
  right: 20%;
  border: 1px solid var(--navfont);
}
nav .darkMode .icon, nav .menu .icon {
  position: absolute;
  width: 2.5rem;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  transition: 0.5s all ease-in-out;
}
nav .darkMode .icon i, nav .menu .icon i {
  color: var(--navfont);
}
nav .darkMode .icon i:hover, nav .menu .icon i:hover {
  color: var(--navfonthover);
}
nav .darkMode .icon:nth-child(1), nav .menu .icon:nth-child(1) {
  transform: translateX(0%);
}
nav .darkMode .icon:nth-child(2), nav .menu .icon:nth-child(2) {
  transform: translateX(100%);
}
nav .darkMode:hover, nav .menu:hover {
  cursor: pointer;
}
nav .menu {
  right: 1%;
}
nav .menu .icon:nth-child(2) {
  opacity: 0;
  transform: translateX(0%);
  transition: all ease-in-out 0s;
}
nav .menu .icon:nth-child(1) {
  opacity: 1;
  transform: translateX(0%);
  transition: all ease-in-out 0s;
}
nav .menu.active .icon:nth-child(1) {
  opacity: 0;
}
nav .menu.active .icon:nth-child(2) {
  opacity: 1;
}
nav .darkMode.active .icon:nth-child(1) {
  transform: translateX(-100%);
}
nav .darkMode.active .icon:nth-child(2) {
  transform: translateX(0%);
}
nav ul {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 0;
  right: 50%;
  top: 100%;
  transform: translate(50%, 0%);
  display: grid;
  text-align: center;
  background-color: var(--nav);
  border-radius: 0em 0em 0.3em 0.3em;
}
nav ul li {
  list-style: none;
  margin: 0 1.5rem;
}
nav ul li .active-link {
  color: var(--navfonthover);
}
nav .menuItems.active {
  height: 300%;
}

#skills.active h2 {
  margin-top: 0vh;
  font-size: 1.8rem;
  transition: 0.5s all ease-in-out;
}
#skills.active .skills:nth-child(2) h3 {
  animation: fadeInLeft 1s forwards;
}
#skills.active .skills:nth-child(2) .container div {
  animation: fadeInLeft 1s forwards;
}
#skills.active .skills:nth-child(2) .container div:nth-child(-n+3) {
  animation-delay: 0.3s;
}
#skills.active .skills:nth-child(2) .container div:nth-child(n+4) {
  animation-delay: 0.6s;
}
#skills.active .skills:nth-child(2) .container div:nth-child(n+7) {
  animation-delay: 0.9s;
}
#skills.active .skills:nth-child(3) h3 {
  animation: fadeInRight 1s forwards;
}
#skills.active .skills:nth-child(3) .container div {
  animation: fadeInRight 1s forwards;
}
#skills.active .skills:nth-child(3) .container div:nth-child(-n+2) {
  animation-delay: 0.3s;
}
#skills.active .skills:nth-child(3) .container div:nth-child(n+3) {
  animation-delay: 0.6s;
}
#skills.active .skills:nth-child(3) .container div:nth-child(n+5) {
  animation-delay: 0.9s;
}

#skills {
  padding-top: 10vh;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 1fr;
  grid-template-areas: "title" "skill1" "skill2";
}
#skills h2 {
  grid-area: title;
  color: var(--font);
  font-size: 0.1rem;
}
#skills .skills:nth-child(2), #skills .skills:nth-child(3) {
  margin-top: 5vh;
}
#skills .skills:nth-child(2) h3, #skills .skills:nth-child(3) h3 {
  opacity: 0;
}
#skills .skills:nth-child(2) .container, #skills .skills:nth-child(3) .container {
  margin-top: 5vh;
  display: grid;
  justify-content: center;
  text-align: center;
}
#skills .skills:nth-child(2) .container .skill, #skills .skills:nth-child(3) .container .skill {
  width: 48%;
  margin-left: 25%;
  margin-bottom: 15%;
  display: grid;
  justify-content: center;
  opacity: 0;
}
#skills .skills:nth-child(2) .container .skill span:nth-child(1), #skills .skills:nth-child(3) .container .skill span:nth-child(1) {
  width: 60px;
  height: 80px;
  margin: auto;
  background-color: rgb(187, 187, 187);
  display: flex;
  justify-content: center;
  border-radius: 25% 25% 35% 35%;
  align-items: center;
}
#skills .skills:nth-child(2) .container .skill span:nth-child(1) img, #skills .skills:nth-child(3) .container .skill span:nth-child(1) img {
  margin: 10%;
  width: 80%;
  height: 60%;
}
#skills .skills:nth-child(2) .container .skill span:nth-child(2), #skills .skills:nth-child(3) .container .skill span:nth-child(2) {
  margin-top: 0.3rem;
  position: relative;
  width: 6rem;
  font-weight: 800;
}
#skills .skills:nth-child(2) .container .skill span:nth-child(3), #skills .skills:nth-child(3) .container .skill span:nth-child(3) {
  position: relative;
  width: 6rem;
  font-size: 0.8rem;
}
#skills .skills:nth-child(2) .container .skill:hover img, #skills .skills:nth-child(3) .container .skill:hover img {
  animation: bounce 0.3s linear;
}
#skills .skills:nth-child(3) {
  grid-area: skill2;
}
#skills .skills:nth-child(3) .container {
  grid-template-columns: 1fr 1fr;
}
#skills .skills:nth-child(2) {
  grid-area: skill1;
}
#skills .skills:nth-child(2) .container {
  grid-template-columns: 1fr 1fr;
}

@keyframes bounce {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-15%);
  }
  100% {
    transform: translateY(0%);
  }
}
@media only screen and (min-width: 600px) {
  nav {
    display: flex;
    top: 0;
    position: sticky;
    font-size: 1.5rem;
    height: 10vh;
    width: 100%;
  }
  nav .menu {
    display: none;
  }
  nav .darkMode {
    right: 1%;
    margin: 0.7rem;
    position: absolute;
  }
  nav .logo {
    margin: 1rem;
  }
  nav ul {
    position: absolute;
    height: 100%;
    right: 0%;
    top: 0%;
    display: flex;
    text-align: center;
    justify-content: start;
    width: 50%;
    transform: translate(0%, 0%);
  }
  nav ul li {
    margin: 1rem;
  }
  #skills {
    grid-template-columns: 3fr 2fr;
    grid-template-areas: "title title" "skill1 skill2";
  }
  #skills .skills:nth-child(2) .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}/*# sourceMappingURL=navbar.css.map */