#home{
    position: relative;
    display: grid;
    grid-template-columns:1fr;
    grid-template-areas: "pic"
    "text";
    padding: 1rem;
    justify-content: center;

    .text{
        grid-area: text;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem;

        .info{
            width: 90%;
            font-size: 1.2rem;
            opacity: 0;
            animation: fadeInLeft 1s forwards ;
            margin-bottom: 35%;
            .name{
                font-size: 2rem;
                font-weight: 600;
                margin-bottom: 1rem;
            }
            .jobTitle{
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: 1rem;
            }
        }
    
        .links{
            opacity: 0;
            padding-left: 2rem;
            animation: fadeInLeft 1s forwards ;
            animation-delay: .3s;
    
    
            ul{
                display: flex;
                flex-direction: row;
                gap:0 2rem;
                li{
                    
                    list-style: none;
                    i{
                        font-size: 2rem;
                        &:hover{
                            color: var(--navfonthover);
                        }
                    }
                    a[title]{
                        position: relative;
                    }
                    a[title]:hover::after {
                        content: attr(title);
                        position: absolute;
                        font-size: .8rem;
                        font-weight: 700;
                        bottom: -200%;
                        left: 0%;
                      }
                }
            }
        }
    }
    .pic{
        grid-area: pic;
        display: grid;
        justify-content: center;
        margin-bottom: 2rem;
        img{
            aspect-ratio: 1/1;
            animation: fadeInRight 1s forwards ;
            opacity: 0;

            width: 50vw;
            border-radius: 50%;
           
        }

    }
   
}


@media only screen and (min-width: 600px) {
    #home{
        position: relative;
    
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "text pic";
        .text{
            grid-area: text;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding: 2rem;
            
            .info{
                width: 90%;
                font-size: 1.2rem;
                margin-bottom: 35%;
                .name{
                    font-size: 2rem;
                    font-weight: 600;
                    margin-bottom: 1rem;
                }
                .jobTitle{
                    font-size: 1.5rem;
                    font-weight: 600;
                    margin-bottom: 1rem;
                }
            }
        
            .links{
                padding-left: 2rem;
    
        
        
                ul{
                    display: flex;
                    flex-direction: row;
                    gap:0 2rem;
                    li{
                        
                        list-style: none;
                        i{
                            font-size: 2rem;
                            &:hover{
                                color: var(--navfonthover);
                            }
                        }
                        a[title]{
                            position: relative;
                        }
                        a[title]:hover::after {
                            content: attr(title);
                            position: absolute;
                            font-size: .8rem;
                            font-weight: 700;
                            bottom: -200%;
                            left: 0%;
                          }
    
    
                       
                }
                }
            }
        }
        .pic{
            grid-area: pic;
            display: grid;
            justify-content: center;
            img{
                aspect-ratio: 1/1;
                animation: fadeInRight 1s forwards ;
                opacity: 0;
    
                width: 20vw;
                border-radius: 50%;
               
            }
    
        }
       
    }
    
}